<a href="https://colab.research.google.com/github/tariqha/code_snippets/blob/master/Assignment_1_Adult_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/adult.data.csv')

In [0]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [0]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [0]:
df['sex'].value_counts(normalize=True)*100

Male      66.920549
Female    33.079451
Name: sex, dtype: float64

2. What is the average age (age feature) of women?

In [0]:
women = df[df['sex'] == 'Female']

In [0]:
women['age'].mean()

36.85823043357163

In [0]:
df[df['sex'] == 'Female']['age'].mean()

36.85823043357163

3. What is the percentage of German citizens (native-country feature)?

In [0]:
float((df['native-country'] == 'Germany').sum())/len(df.index)

0.004207487485028101

In [0]:
float((df['native-country'] == 'Germany').sum())/df.shape[0]

0.004207487485028101

In [0]:
((df['native-country'] == 'Germany').sum())/df.shape[0]

0.004207487485028101

In [0]:
(df['native-country'] == 'Germany').sum()/df.shape[0]

0.004207487485028101

4-5. What are mean value and standard deviation of the age of those who recieve more than 50K per year (salary feature) and those who receive less than 50K per year?

In [0]:
df['age'].mean()

38.58164675532078

In [0]:
ages1 = df.loc[df['salary'] == '<=50K','age']
ages2 = df.loc[df['salary'] == '>50K','age']

In [0]:
print(ages1.mean())
print(ages2.mean())

36.78373786407767
44.24984058155847

In [0]:
df[df['salary'] == '<=50K']['age'].mean()

36.78373786407767

In [0]:
a1 = df.loc[df['salary'] == '<=50K','age']

In [0]:
a2 = [df['salary'] == '<=50K','age']

In [0]:
print(type(a1))
print(type(a2))

<class 'pandas.core.series.Series'>
<class 'list'>

6. Is it true that people who receive more than 50k have at least high school education? (education - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [0]:
df.loc[df['salary'] == '>50K','education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [0]:
df.loc[df['salary'] == '>50K','education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

7. Display statistics of age for each race (race feature) and each gender. Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [0]:
df.groupby(['race', 'sex']).describe()

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                                         fnlwgt                                \
                             75%   max    count           mean            std
race               sex
Amer-Indian-Eskimo Female  46.00  80.0    119.0  112950.731092   93207.974077
                   Male    45.00  82.0    192.0  125715.364583   85063.251595
Asian-Pac-Islander Female  43.75  75.0    346.0  147452.075145   76401.627757
                   Male    46.00  90.0    693.0  166175.865801   88552.952600
Black              Female  46.00  90.0   1555.0  212971.387781  109971.263983
                   Male    46.00  90.0   1569.0  242920.644997  134145.970948
Other              Female  39.00  74.0    109.0  172519.642202   77766.666801
                   Male    42.00  77.0    162.0  213679.104938   92187.362738
White              Female  46.00  90.0   8642.0  183549.966906  101710.294874
                   Male    49.00  90.0  19174.0  188987.386148  103714.598850

                                                                               \
                               min        25%       50%        75%        max
race               sex
Amer-Indian-Eskimo Female  12285.0   31387.00   87950.0  163027.50   445168.0
                   Male    13769.0   48197.75  113091.0  182656.00   356015.0
Asian-Pac-Islander Female  19914.0   86879.25  131986.0  175705.75   379046.0
                   Male    14878.0   98350.00  147719.0  200117.00   506329.0
Black              Female  19752.0  142666.50  193553.0  253759.00   930948.0
                   Male    21856.0  156410.00  221196.0  298601.00  1268339.0
Other              Female  24562.0  119890.00  171199.0  219441.00   388741.0
                   Male    25610.0  150726.75  208516.5  253334.75   481175.0
White              Female  19395.0  115914.75  175810.5  224836.50  1484705.0
                   Male    18827.0  117381.00  178662.5  236858.75  1455435.0

                          education-num                                       \
                                  count       mean       std  min  25%   50%
race               sex
Amer-Indian-Eskimo Female         119.0   9.697479  2.334540  2.0  9.0  10.0
                   Male           192.0   9.072917  2.268587  2.0  9.0   9.0
Asian-Pac-Islander Female         346.0  10.390173  2.796647  1.0  9.0  10.0
                   Male           693.0  11.245310  2.777463  1.0  9.0  11.0
Black              Female        1555.0   9.549839  2.207815  1.0  9.0   9.0
                   Male          1569.0   9.423199  2.382841  1.0  9.0   9.0
Other              Female         109.0   8.899083  3.027482  2.0  7.0   9.0
                   Male           162.0   8.802469  3.361897  1.0  8.0   9.0
White              Female        8642.0  10.127980  2.368115  1.0  9.0  10.0
                   Male         19174.0  10.138521  2.656464  1.0  9.0  10.0

                                      capital-gain                             \
                            75%   max        count         mean           std
race               sex
Amer-Indian-Eskimo Female  11.0  16.0        119.0   544.605042   2451.591587
                   Male    10.0  16.0        192.0   675.260417   2929.745443
Asian-Pac-Islander Female  13.0  15.0        346.0   778.436416   7675.228631
                   Male    13.0  16.0        693.0  1827.813853  10947.525528
Black              Female  10.0  16.0       1555.0   516.593569   5312.749129
                   Male    10.0  16.0       1569.0   702.454430   4962.113183
Other              Female  10.0  14.0        109.0   254.669725   1317.326460
                   Male    10.0  16.0        162.0  1392.185185  11093.711595
White              Female  12.0  16.0       8642.0   573.610391   4763.131649
                   Male    13.0  16.0      19174.0  1368.674455   8442.830669

                                                       capital-loss  \
                           min  25%  50%  75%      max        count
race               sex
Amer-Indian-Eskimo Female  0.0  0.0  0.0  0.0  15024.0        119.0
                   Male    0.0  0.0  0.0  0.0  27828.0        192.0
Asian-Pac-Islander Female  0.0  0.0  0.0  0.0  99999.0        346.0
                   Male    0.0  0.0  0.0  0.0  99999.0        693.0
Black              Female  0.0  0.0  0.0  0.0  99999.0       1555.0
                   Male    0.0  0.0  0.0  0.0  99999.0       1569.0
Other              Female  0.0  0.0  0.0  0.0   7688.0        109.0
                   Male    0.0  0.0  0.0  0.0  99999.0        162.0
White              Female  0.0  0.0  0.0  0.0  99999.0       8642.0
                   Male    0.0  0.0  0.0  0.0  99999.0      19174.0

                                                                               \
                                 mean         std  min  25%  50%  75%     max
race               sex
Amer-Indian-Eskimo Female   14.462185  157.763811  0.0  0.0  0.0  0.0  1721.0
                   Male     46.395833  286.562584  0.0  0.0  0.0  0.0  1980.0
Asian-Pac-Islander Female   50.852601  296.529225  0.0  0.0  0.0  0.0  2258.0
                   Male    120.373737  472.917697  0.0  0.0  0.0  0.0  2457.0
Black              Female   45.450804  299.099591  0.0  0.0  0.0  0.0  4356.0
                   Male     75.186106  370.976546  0.0  0.0  0.0  0.0  2824.0
Other              Female   36.284404  231.796929  0.0  0.0  0.0  0.0  1740.0
                   Male     77.746914  370.986720  0.0  0.0  0.0  0.0  2179.0
White              Female   65.390535  352.330817  0.0  0.0  0.0  0.0  4356.0
                   Male    102.261343  434.156936  0.0  0.0  0.0  0.0  3770.0

                          hours-per-week                                   \
                                   count       mean        std  min   25%
race               sex
Amer-Indian-Eskimo Female          119.0  36.579832  11.046509  4.0  35.0
                   Male            192.0  42.197917  11.596280  3.0  40.0
Asian-Pac-Islander Female          346.0  37.439306  12.479459  1.0  35.0
                   Male            693.0  41.468975  12.387563  1.0  40.0
Black              Female         1555.0  36.834084   9.419960  2.0  35.0
                   Male           1569.0  39.997451  10.909413  1.0  40.0
Other              Female          109.0  35.926606  10.300761  6.0  30.0
                   Male            162.0  41.851852  11.084779  5.0  40.0
White              Female         8642.0  36.296691  12.190951  1.0  30.0
                   Male          19174.0  42.668822  12.194633  1.0  40.0


                            50%   75%   max
race               sex
Amer-Indian-Eskimo Female  40.0  40.0  84.0
                   Male    40.0  45.0  84.0
Asian-Pac-Islander Female  40.0  40.0  99.0
                   Male    40.0  45.0  99.0
Black              Female  40.0  40.0  99.0
                   Male    40.0  40.0  99.0
Other              Female  40.0  40.0  65.0
                   Male    40.0  40.0  98.0
White              Female  40.0  40.0  99.0
                   Male    40.0  50.0  99.0

8. Among whom the proportion of those who earn a lot(>50K) is more: among married or single men (marital-status feature)? Consider married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [0]:
df.loc[(df['sex'] == 'Male') &
     (df['marital-status'].isin(['Never-married', 
                                   'Separated', 
                                   'Divorced',
                                   'Widowed'])), 'salary'].value_counts()

<=50K    7552
>50K      697
Name: salary, dtype: int64

In [0]:
df.loc[(df['marital-status'].isin(['Married-civ-spouse'])), 'salary'].value_counts()

<=50K    8284
>50K     6692
Name: salary, dtype: int64

In [0]:
df['marital-status'].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours and what is the percentage of those who earn a lot among them?

In [0]:
sub_df = df.groupby(['native-country','salary'])
sub_df['hours-per-week'].mean()

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

In [0]:
pd.crosstab(df['native-country'], df['salary'], 
            values=df['hours-per-week'], aggfunc=np.mean).T

native-country,?,Cambodia,Canada,China,Columbia,Cuba,Dominican-Republic,Ecuador,El-Salvador,England,France,Germany,Greece,Guatemala,Haiti,Holand-Netherlands,Honduras,Hong,Hungary,India,Iran,Ireland,Italy,Jamaica,Japan,Laos,Mexico,Nicaragua,Outlying-US(Guam-USVI-etc),Peru,Philippines,Poland,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
salary,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
<=50K,40.164760,41.416667,37.914634,37.381818,38.684211,37.985714,42.338235,38.041667,36.030928,40.483333,41.058824,39.139785,41.809524,39.360656,36.325,40.0,34.333333,39.142857,31.3,38.233333,41.44,40.947368,39.625,38.239437,41.000000,40.375,40.003279,36.09375,41.857143,35.068966,38.065693,38.166667,41.939394,38.470588,39.444444,40.15625,33.774194,42.866667,37.058824,38.799127,37.193548,41.6
>50K,45.547945,40.000000,45.641026,38.900000,50.000000,42.440000,47.000000,48.750000,45.000000,44.533333,50.750000,44.977273,50.625000,36.666667,42.750,NaN,60.000000,45.000000,50.0,46.475000,47.50,48.000000,45.400,41.100000,47.958333,40.000,46.575758,37.50000,NaN,40.000000,43.032787,39.000000,41.500000,39.416667,46.666667,51.43750,46.800000,58.333333,40.000000,45.505369,39.200000,49.5